<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of movieList">
            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>{{item.vote_count}}</ion-card-subtitle>
                  <ion-card-title>{{item.name}}</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                <img src="{{urlBaseImage + item.poster_path}}" width="100px;" height="300px;"/>
                 {{item.overview}}
                </ion-card-content>
              </ion-card>
        </ion-slide>

      </ion-slides>
    
</ion-content>
