<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
                <ion-thumbnail>
            <img src="assets/icon.png" />
                    </ion-thumbnail>
        </ion-buttons>
       
    </ion-toolbar>
   
</ion-header>
<ion-content class="row">
    <ion-card>
        <ion-card-header>

            <ion-card-title>Registrar</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-text [hidden]="!loginError">
                <h6>Erro ao tentar cadastrar. Tente novamente mais tarde!</h6>
            </ion-text>
            <form [formGroup]="userForm" (ngSubmit)="register()">
                <ion-item>
                    <ion-input type="text" placeholder="E-mail" formControlName="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" placeholder="Confirmar Senha" formControlName="confirmPassword">
                    </ion-input>
                </ion-item>
                <ion-button type="submit" slot="end">Registrar</ion-button>

            </form>
        </ion-card-content>
    </ion-card>
</ion-content>